# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

build/

# Dialog
thirdparty/dialog/config.log
thirdparty/dialog/config.status
thirdparty/dialog/dialog
thirdparty/dialog/dialog-config
thirdparty/dialog/dlg_config.h
thirdparty/dialog/headers-sh
thirdparty/dialog/makefile
thirdparty/dialog/man2html.tmp